fastapi
uvicorn[standard]
python-dotenv
psycopg2-binary
SQLAlchemy
alembic
pydantic[email]
passlib
python-jose[cryptography]
python-multipart
requests
sentence-transformers
scikit-learn
spacy
pypdf                # <-- add (PDF text)
python-docx    
torch
pydantic-settings
fastapi-mail

